# Default values for snapshots.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

serviceAccount:
  name: ""

cronjob:
  schedule: "0 */6 * * *"
  image:
    repository: amazon/aws-cli
    pullPolicy: IfNotPresent
    tag: 2.16.2
  imagePullSecrets: []
  argocdAuthSecret: ""
  stsName: ""
  ttlSecondsAfterFinished: 60
  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

configMap:
  argocdApps:
    - applications
  s3Bucket: ""
  paths:
    - "data"
    - "wasm"

nameOverride: ""
fullnameOverride: ""
