---
image:
  repository: ghcr.io/warden-protocol/warden-exporter
  pullPolicy: IfNotPresent
  tag: ""

replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsGroup: 65532
  runAsUser: 65532
  fsGroup: 65532
  seccompProfile:
    type: RuntimeDefault
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false

service:
  type: ClusterIP
  port: 8081

# env:
#   GRPC_ADDR:
#     "https://grpc.buenavista.wardenprotocol.org"
#   GRPC_TLS_ENABLED:
#     "true"
#   CHAIN_ID:
#     "buenavista-1"
# envFrom:

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

serviceMonitor:
  enabled: false
  additionalLabels: {}
  interval: 1m
  scrapeTimeout: 10s
  telemetryPath: /metrics
  targetLabels: []
  metricRelabelings: []
  relabelings: []

logLevel: info
