---
replicaCount: 1

image: ghcr.io/warden-protocol/wardenprotocol/faucet
imageTag: ""
imagePullPolicy: IfNotPresent
imagePullSecrets:
  - name: ghcr

nameOverride: ""
fullnameOverride: "faucet"
podAnnotations: {}
podSecurityContext:
  {}
  # fsGroup: 2000
ingress:
  enabled: false
  className: "kong"
  annotations: {}
  host: ""
securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  annotations: {}
  type: ClusterIP
  enabled: true
  ports:
    - name: http
      port: 8000

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

env: []
envFrom: []

secretmanager:
  enabled: false
  serviceAccount: ""
  secrets: []
  cmd: "/usr/bin/faucet-v2"